body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
}
.container {
  width: 40rem;
  padding: 2rem 2rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 2rem;
  background-color: hsl(0, 0%, 85%);
}
h1 {
  font-size: 3rem;
}
.button {
  padding: 1rem 2rem;
  border: 3px solid black;
  border-radius: 0.5rem;
  font-size: 2rem;
  flex: 0 1 auto;
  background-color: white;
  cursor: pointer;
}
.button.active {
  color: white;
  background: black;
}
.mouse-data {
  margin-top: 2rem;
  font-size: 2rem;
}

.red {
  background-color: hsl(0, 84%, 44%);
}


.container:hover{
    color: azure;
}